<div class="border-t border-white/20 
            px-4 sm:px-6 md:px-8 py-12">
    <div class="max-w-6xl mx-auto
                flex flex-col md:flex-row flex-wrap
                justify-between align-items-center gap-8">
        <p class="text-sm text-muted text-center">&copy; 2026 Software Developer. All rights reserved.</p>
        <div class="flex flex-row gap-6 
                    align-items-center justify-center
                    text-muted">
            <a href="https://github.com/jawahaartheella/" target="_blank" rel="noopener noreferrer" class=""><svg lucideCodeXml size="20"></svg></a>
            <a href="https://www.linkedin.com/in/jawahaar-theella/" target="_blank" rel="noopener noreferrer" class=""><svg lucideUser size="20"></svg></a>
            <a href="mailto:theellajawahaar.01@gmail.com" class=""><svg lucideMail size="20"></svg></a>
        </div>
    </div>
</div>