<nav class="w-full sticky top-0 bg-background/70 border-b border-white/10 backdrop-blur-md">
    <div class="flex justify-between items-center px-[216px] h-16">
        <div>
            <a href="/" class="text-blue-500 font-bold text-xl">Jaw</a>
        </div>
        <ul class="flex gap-8">
            <li><a routerLinkActive="text-blue-500" routerLink="/home" class="text-sm hover:text-blue-500 text-[#9CA3AF]">Home</a></li>
            <li><a routerLinkActive="text-blue-500" routerLink="/about" class="text-sm hover:text-blue-500 text-[#9CA3AF]">About</a></li>
            <li><a routerLinkActive="text-blue-500" routerLink="/projects" class="text-sm hover:text-blue-500 text-[#9CA3AF]">Projects</a></li>
            <li><a routerLinkActive="text-blue-500" routerLink="/contact" class="text-sm hover:text-blue-500 text-[#9CA3AF]">Contact</a></li>
        </ul>
    </div>
</nav>