<section class="px-4 sm:px-6 md:px-8 py-16 md:py-18 border-b border-white/20">
    <div class="max-w-6xl mx-auto">
        <h1 class="text-4xl sm:text-5xl font-bold tracking-tight mb-4">Get in Touch</h1>
        <p class="text-lg text-muted">I'm always interested in hearing about new opportunities and projects.</p>
    </div>
</section>

<section class="px-4 sm:px-6 md:px-8 py-16 md:py-18">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-3xl fonr-semibold mb-8">Send me a message</h2>
        <div class="grid gap-12 lg:grid-cols-2">
            <form>
                <div class="name-field mb-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-input" id="name" required placeholder="Your name">
                </div>
                <div class="email-field mb-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-input" id="email" required placeholder="your.email@example.com">
                </div>
                <div class="message-field mb-6">
                    <label for="message" class="form-label">Message</label>
                    <textarea type="email" class="form-input" id="message" rows="5" required placeholder="Tell me about your project..."></textarea>
                </div>
                <button type="submit" class="bg-primary font-medium px-4 py-2 w-full text-center rounded-lg text-sm">Send Message</button>
            </form>
            <div>
                <h3 class="text-2xl mb-8 font-semibold">Other ways to reach me</h3>
                <div class="mb-8">
                    <a href="mailto:jawahaartheella@gmail.com" 
                    target="_blank" 
                    rel="norefferer noopener" 
                    class="contact-alternate-container">
                        <svg lucideMail size="24" class="text-primary"></svg>
                        <div>
                            <p class="font-semibold">Email</p>
                            <p class="text-sm text-muted">jawahaartheella&commat;gmail.com</p>
                        </div>
                    </a>
                    <a href="https://www.github.com/jawahaartheella/" 
                    target="_blank" 
                    rel="norefferer noopener" 
                    class="contact-alternate-container">
                        <svg lucideCodeXml size="24" class="text-primary"></svg>
                        <div>
                            <p class="font-semibold">GitHub</p>
                            <p class="text-sm text-muted">github.com/jawahaartheella</p>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/jawahaar-theella" 
                    target="_blank" 
                    rel="norefferer noopener" 
                    class="contact-alternate-container">
                        <svg lucideMail size="24" class="text-primary"></svg>
                        <div>
                            <p class="font-semibold">LinkedIn</p>
                            <p class="text-sm text-muted">linkedin.com/in/jawahaar-theella</p>
                        </div>
                    </a>
                </div>

                <div class="contact-alternate-container !border-white/5 !bg-card/25 !p-6">
                    <svg lucideMessageSquare size="20" class="text-muted"></svg>
                    <div>
                        <p class="font-semibold">Response Time</p>
                        <p class="text-sm text-muted">I typically respond within 24-48 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>