<section class="background-grid px-6 py-20 md:px-8 md:py-38 border-b border-white/20">
    <div class="container">
        <div class="mb-6">
            <h1 class="text-4xl md:text-6xl mb-4 font-bold leading-none">Frontend Engineer</h1>
            <p class="text-lg md:text-xl text-muted mb-4 md:leading-none">Creating scalable, and user-focused web applications with Angular and TypeScript.</p>
            <p class="text-sm text-muted leading-[20px]">2.5+ years of professional experience</p>
        </div>
        <div class="flex flex-col md:flex-row gap-3 mt-4">
            <button class="btn-primary
                        flex flex-row 
                        justify-center items-center gap-2">
                <span>View Projects</span>
                <svg lucideArrowRight [size]="16"></svg>
            </button>
            <button class="btn-secondary">
                Get in Touch
            </button>
        </div>
        <div class="mt-20">
            <p class="uppercase text-sm font-semibold mb-4 text-muted mb-4">Technologies</p>
            <div class="flex flex-row gap-2 flex-wrap">
                @for(technology of techStack; track technology) {
                    <span class="techstack-item">{{technology}}</span>
                }
            </div>
        </div>
    </div>
</section>
<section class="py-16 px-8 md:py-18 md:py-20 border-b border-white/20">
    <div class="container">
        <div class="mb-12">
            <p class="uppercase text-muted mb-4 font-sm font-semibold">Selected Work</p>
            <h2 class="text-3xl font-bold">Recent Projects</h2>
        </div>
        <div class="flex flex-col gap-8 mb-12">
            @for (project of featuresProjects().slice(0,3); track project.id) {
                <div class="group/card border border-white/20 hover:border-blue-500 rounded-lg bg-card p-6 cursor-pointer w-full transition-all duration-300">
                    <img class="mb-3 aspect-video rounded-lg" src="{{project.imageUrl}}" alt="{{project.slug}}">
                    <h3 class="text-base font-semibold mb-2 group-hover/card:text-blue-500 transition-colors duration-300">{{project.title}}</h3>
                    <p class="text-sm text-muted mb-4">{{project.shortDescription}}</p>
                    <div class="flex jusity-center items-center gap-1 text-xs text-muted">
                        @for(technology of project.technologies; track technology) {
                            <span>{{technology}}</span>
                        } 
                    </div>
                </div>
            }
        </div>
        <div class="pt-2">
            <a class="text-blue-500 flex gap-2 text-sm font-medium">
                <span>View all projects</span>
                <svg lucideArrowRight [size]="16"></svg>
            </a>
        </div>
    </div>
</section>

<section class="values px-4 sm:px-6 md:px-8 bg-card/50 py-16">
    <div class="container">   
        <h2 class="font-bold text-2xl mb-8">What I value</h2>
        <div class="grid md:grid-cols-2 gap-8">
            <div class="about-values">
                <h3>Clean Code</h3>
                <p>Writing maintainable, readable code that others can easily understand and build upon.</p>
            </div>
            <div class="about-values">
                <h3>User Experience</h3>
                <p>Creating intuitive interfaces that delight users and solve real problems.</p>
            </div>
            <div class="about-values">
                <h3>Performance</h3>
                <p>Optimizing applications for speed and efficiency to provide better user experiences.</p>
            </div>
            <div class="about-values">
                <h3>Continous Learning</h3>
                <p>Staying updated with modern technologies and best practices in web development.</p>
            </div>
        </div>
    </div>
</section>